.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 212px;
  padding: 16px;
  background-color: var(--color-white);
  border-radius: 0 0 32px 0;
}

.infoCard__title {
  margin-bottom: 8px;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 26px;
  line-height: 124%;
  letter-spacing: 0.25px;
  @include media-breakpoint-down(lg) {
  }
}

.infoCard__text {
  max-width: 170px;
  margin: 0;
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 116%;
  letter-spacing: 0.17px;
}

.infoCard__button {
  align-self: flex-start;

  min-height: 30px;
  padding: 6px 12px;

  font-size: 11px;
}

.infoCard--service {
  background-color: var(--color-light-gray);
}
