.tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 115.99999999999999%;
  letter-spacing: 0.17px;
  padding: 4px 8px;
  background-color: var(--color-primary);
  color: var(--color-light-gray);
  border-radius: 8px;
}
